.user-section__name {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #ebebef;
    margin-bottom: 2px
}

.user-section__mail {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #f8f8f87d
}

.user-section__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.user-section__item.active,
.user-section__item:hover {
    background: #1668dc1f
}

.user-section__item:last-child {
    margin: 0
}

.user-section__icon {
    width: 32px;
    height: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1668dc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 10px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.user-section__box,
.user-section__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.user-section__box {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.profile-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.profile-box__user {
    max-width: 289px;
    width: 100%;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ffffff1f;
    height: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.profile-box__content {
    width: calc(100% - 309px);

    .financials-table {
        overflow-x: auto;
        min-height: 100px;
    }
}

.main-box {
    position: relative;
    background: -webkit-linear-gradient(bottom, #12092c, #12092c), -webkit-linear-gradient(118.14deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
    background: -moz-linear-gradient(bottom, #12092c, #12092c), -moz-linear-gradient(118.14deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
    background: -o-linear-gradient(bottom, #12092c, #12092c), -o-linear-gradient(118.14deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
    background: linear-gradient(0deg, #12092c, #12092c), linear-gradient(331.86deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    -webkit-box-shadow: 0 4px 80px 0 #ffffff0f inset;
    -moz-box-shadow: 0 4px 80px 0 #ffffff0f inset;
    box-shadow: inset 0 4px 80px 0 #ffffff0f;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 24px;
    height: 100%;
    min-height: 473px;
}

.main-box.--min {
    min-height: 0
}

.main-box__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff1f
}

.main-box__header .main-box__title {
    margin-bottom: 0
}

.main-box__buttons {
    gap: 12px
}

.main-box__buttons,
.main-box__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-box__top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px
}

.main-box__top .main-box__title {
    margin-bottom: 0
}

.main-box__title {
    color: #fcfcfc;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px
}

.main-box__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px
}

.main-box__text:last-child {
    margin-bottom: 0
}

.main-box__empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-box__empty-img {
    margin-bottom: 15px
}

.financials-table {
    overflow-x: auto;

    table {
        border-collapse: collapse;
        width: 100%;

        td,
        th {
            padding: 12px 16px;
            font-size: 14px;
        }

        thead {
            th {
                font-weight: 600;
                text-align: left;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                color: rgba(255, 255, 255, 0.7);

                &:first-child {
                    padding-left: 0;
                }

                &.sticky-col {
                    position: sticky;
                    left: 0;
                    z-index: 3;
                    background: linear-gradient(0deg, #12092c, #12092c), linear-gradient(331.86deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
                }
            }
        }

        tbody {
            td {
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                font-weight: 400;

                &:first-child {
                    padding-left: 0;
                }

                &.sticky-col {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                    background: linear-gradient(0deg, #12092c, #12092c), linear-gradient(331.86deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
                }
            }

            tr:last-child td {
                border-bottom: none;
            }
        }
    }
}

.sticky-col {
    position: sticky;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, #12092c, #12092c), linear-gradient(331.86deg, rgba(35, 18, 51, 0) 48.86%, rgba(35, 18, 51, .1) 96.18%);
}

.company-name {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
    letter-spacing: 0.01em;
}

.company-subtitle {
    font-size: 13px;
    opacity: 0.7;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
    white-space: normal;
    max-width: 200px;
    letter-spacing: 0.01em;
}

.financials-table__delete-btn {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: #f44336;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: #d32f2f;
    }

    &:active {
        transform: scale(0.95);
    }
}